# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so
.python-version

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Vector Database
vector_db/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Logs
logs/
*.log
